.subscription_list{
    border: 1px solid #eef;
    padding: 6px;
    background-color: #9393f5;
    color: #fff;
    border-radius: 5px;
  }
  .subscription_cross_btn {
    background: #000;
    color: #fff;
    border-radius: 6px;
    height: 22px;
    width: 22px;
    margin: 0px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }