.company-scroll::-webkit-scrollbar {
  display: none;
}
.company-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-btn.left {
  left: -10px;
}

.scroll-btn.right {
  right: -10px;
}
